{% extends "displayPings/site0.html" %}

{% block body %}

<h1>{% block title %}Latest Ping Track Images{% endblock %}</h1>

<p>As of {{ current_date }} CST (USA)</p>

{% load staticfiles %}

<div style="display: flex; flex-direction: row; width: 1240px; flex-wrap: wrap;">

	<div id="plotbox">
		<h3>Failures during the Last Hour</h3>

		<a href="{% static 'displayPings/Rplot001.png' %}"><img style="height: 300px;" src="{% static "displayPings/Rplot001.png" %}" alt="ping track data for the last hour" /></a>
	</div>

	<div id="plotbox" style="margin-left: 2px;">
		<h3>Failures during the Last 24 Hours</h3>

		<a href="{% static 'displayPings/Rplot002.png' %}"><img style="height: 300px;" src="{% static "displayPings/Rplot002.png" %}" alt="ping track data for the last 24 hours" /></a>
	</div>


	<div id="plotbox">
		<h3>Failures during the Last Week</h3>

		<a href="{% static 'displayPings/Rplot003.png' %}"><img style="height: 300px;" src="{% static "displayPings/Rplot003.png" %}" alt="ping track data for the last week" /></a>
	</div>

	<div id="plotbox" style="margin-left: 2px;">
		<h3>Failures during the Last Month</h3>

		<a href="{% static 'displayPings/Rplot004.png' %}"><img style="height: 300px;" src="{% static "displayPings/Rplot004.png" %}" alt="ping track data for the last month" /></a>
	</div>
</div>

{% endblock %}
